h1{
	color: #4e2680;
}
body{
	background-color: snow;
}
.freq{
	color: black;
	font-family: "Times New Roman";
	text-align: left;
	margin: 50px 0px 0px 300px;
}
p{
	margin-right: auto;
	color: #4332ff;}
.list{
	background-color: snow;
	margin-right: auto;
	border: 7px;
	margin: 20px 20px 0px 500px;

}
.index{background-color: azure}
div{
	background-color: snow;
margin: 50px;
}
.left{
	text-align: left;
}

a:visited{
	color: purple;
}
/**
Abayo is 28 years of age and is a middle class citizen in Nigeria.
			He works for a tax auditing company earning earning enough money to put food on the table and pay bills with a
			 little extra for daily expenses and savings.
		He is a huge soccer fan and knows a lot of soccer teams' history.
			Abayo wakes up as early as 6 AM to get ready to go to work and he takes the by bus weekly to work.
		He partakes in sport betting a lot and hopes to win big one day. So he reads a lot of sport news on his Android mobile device,
		 which has a touchscreen feature.
		 He checks for latest injury reports on key players of the sport team he plans to pick for either a win, lose or draw.
		 He also likes to chat with his friends who are also into sport betting for recommended picks and tips to get a second opinion of his sport bet picks.
		He loves statistics and reading charts which he finds more easy to read than an essay of a team rival history. Abayo takes only
		takes	calculated risks. He is a computer literate and he's tech savy so he isn't intimidated by any new technology.
			Abayo often multi-task and when he is at work he might get a tip on a game and wants to place the bet before the game starts.
			So he likes quick and precise navigations to his favorite soccer leagues.

 */

/**
<h2>User Story:</h2>
<p>As a user, Jane would like to add a newly released album to her wishlist.</p>

<h2>Use Case:</h2>
<p><strong>Title:</strong> Adding Sango's latest album to her wishlist.</p>
<p><strong>Description:</strong> Jane wants to add Sango's latest album to the wishlist on her Bandcamp Fan account.</p>
<p><strong>Name of user &amp; their role:</strong> Jane; music lover who enjoys purchasing her favorite artists' music via the Internet.</p>
<p><strong>Usage preconditions:</strong> Must have Bandcamp account and logged in.</p>
<p><strong>Usage postconditions:</strong> Artist is saved to wishlist and she can view on her wishlist page.</p>
<p><strong>Interaction flow:</strong></p>
<ul>
	<li>Jane enters sango.bandcamp.com into her web browser.</li>
	<li>Server returns Sango's main Bandcamp page.</li>
	<li>Jane clicks on "Wishlist" link on Sango's Bandcamp page. Heart icon next to "Wishlist" is empty</li>
	<li>Server completes request to add artist to wishlist.</li>
	<li>Jane sees that the heart icon next to artist name is now red and reads "In Wishlist" to notify her that the artist is in the wishlist of her Fan account.</li>
	<li>Server is displaying same album page with the colored icon and added link that reads "In Wishlist"</li>
	<li>Jane wants to see her wishlist and clicks a link next to "In Wishlist" which is labeled "view". </li>
	<li>Server loads Jane's wishlist page for her Bandcamp Fan account.</li>
	<li>Jane is able to see all newly added artist on her wishlist</li>
</ul>
<p><strong>Frequency of Use:</strong> Twice a week</p>
</div>*/